body{
        color: var(--tg-theme-text-color);
        background-color: var(--tg-theme-bg-color);
}

input[type=button]{
        color: var(--tg-theme-button-text-color);
        background-color: var(--tg-theme-button-color);
}

input[type=button]:hover{
        background: var(--tg-theme_secondary-bg-color);
}
