@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');


body{
        color: var(--tg-theme-text-color);
        background-color: var(--tg-theme-bg-color);
        font-family: 'Karla', sans-serif;

}

.card-container {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
}

.card {
    border-radius: 10px;
    background-color: var(--tg-theme-secondary-bg-color)
}

input{
        width: 200px;
}

input[type=button]{
        color: var(--tg-theme-button-text-color);
        background-color: var(--tg-theme-button-color);
}
